:host
  width: 500px
  margin: 0px auto 10px auto
  input
    width: 100%
    border: 1px solid #BBB
    margin: 2.5px 0
    font-size: 12.5px
    font-family: "Unageo"
    border-radius: 2.5px
    padding: 2.5px
    &:focus
      border-color: black
  .name-and-size
    margin-right: 7px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 10px
  button
    height: 25px
    border: 1px solid black
    border-radius: 2.5px
    background: none
    cursor: pointer
    &:hover
      background: #AAA