:host
  // border-left: 1px solid black
  padding: 20px
  input
    width: 100%
    border: 1px solid #BBB
    margin: 5px 0
    font-size: 25px
    font-family: "Unageo"
    border-radius: 5px
    padding: 5px
    &:focus
      border-color: black
  hr
    margin: 10px
    height: 1px
    background: #BBB
  .stunt-line
    display: grid
    grid-template-columns: 2fr 5fr
    gap: 20px
    textarea
      height:  150px
      margin: 5px 0
      padding: 5px
      border: 1px solid #BBB
      border-radius: 5px
      font-size: 25px
      font-family: "Unageo"
      vertical-align: center
      &:focus
        border-color: black
  .skills
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 5px
    .skill-line
      display: flex
      gap: 5px
      .number
        width: 50px
        text-align: center
  .foot
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    margin-right: 15px
    gap: 20px
  .buttons
    margin-top: 10px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 20px
    button
      height: 50px
      border: 1px solid black
      border-radius: 5px
      background: none
      cursor: pointer
      &:hover
        background: #AAA