<div id="card-render">
  <div class="border-wrapper">
    <div class="head">
      <p
        [style.font-size]="fontSizes.name + 'px'"
        contenteditable="true"
        aria-multiline="true"
        (blur)="cardService.setName($any($any($event).target.innerText))"
        *mcRerender="name"
      >{{name}}</p>
    </div>
    <div class="body" appDrag (files)="filesDropped($event)">
      <div class="top">
        <div class="aspect-list">
          <p
            contenteditable="true"
            (blur)="cardService.setAspect($any($event).target.innerText)"
            *mcRerender="aspect"
          >{{aspect}}</p>
        </div>
        <div class="divider"></div>
        <div class="stunt-list" *ngFor="let idx of [0,1,2,3,4]">
          <div class="stunt" *ngIf="stunts[idx]?.name || stunts[idx]?.description">
            <p [style.font-size]="fontSizes.stunt + 'px'">
              <span class="name" contenteditable="true" (blur)="cardService.setStuntName(idx, $any($event).target.innerText)" *mcRerender="stunts[idx].name">{{stunts[idx].name || " "}}</span>
              <span contenteditable="true" (blur)="cardService.setStuntDescr(idx, $any($event).target.innerText)" *mcRerender="stunts[idx].description">{{stunts[idx].description || " "}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="stunt-add" (click)="cardService.createEmptyStunt()"></div>
      <div class="bottom">
        <div class="skills">
          <div class="skill-list left">
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(0, $any($event).target.innerText)" *mcRerender="skills[0].name">{{skills[0].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(0, $any($event).target.innerText)" *mcRerender="skills[0].value">{{skills[0].value || " "}}</span>
            </p>
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(2, $any($event).target.innerText)" *mcRerender="skills[2].name">{{skills[2].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(2, $any($event).target.innerText)" *mcRerender="skills[2].value">{{skills[2].value || " "}}</span>
            </p>
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(4, $any($event).target.innerText)" *mcRerender="skills[4].name">{{skills[4].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(4, $any($event).target.innerText)" *mcRerender="skills[4].value">{{skills[4].value || " "}}</span>
            </p>
          </div>
          <div class="separator"></div>
          <div class="skill-list right">
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(1, $any($event).target.innerText)" *mcRerender="skills[1].name">{{skills[1].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(1, $any($event).target.innerText)" *mcRerender="skills[1].value">{{skills[1].value || " "}}</span>
            </p>
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(3, $any($event).target.innerText)" *mcRerender="skills[3].name">{{skills[3].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(3, $any($event).target.innerText)" *mcRerender="skills[3].value">{{skills[3].value || " "}}</span>
            </p>
            <p>
              <span class="name" contenteditable="true" (blur)="cardService.setSkillName(5, $any($event).target.innerText)" *mcRerender="skills[5].name">{{skills[5].name || "&nbsp;"}}</span>
              <span class="value" contenteditable="true" (blur)="cardService.setSkillValue(5, $any($event).target.innerText)" *mcRerender="skills[5].value">{{skills[5].value || " "}}</span>
            </p>
          </div>
        </div>
        <div class="foot-info" (mouseover)="setShowAllStress(true)" (mouseleave)="setShowAllStress(false)">
          <div class="stress">
            <div>
              <span>Стресс</span>&nbsp;
              <span>У:</span>&nbsp;
              <span class="red" contenteditable="true" (blur)="cardService.setStressValue('universal', $any($event).target.innerText)" (mouseleave)="cardService.setStressValue('universal', $any($event).target.innerText)" *mcRerender="stress.universal">{{stress.universal}}</span>
            </div>
            <div *ngIf="stress.mental || showAllStress">
              &nbsp;
              <span *ngIf="stress.physical || showAllStress">Ф:&nbsp;</span>
              <span class="red" contenteditable="true" (blur)="cardService.setStressValue('physical', $any($event).target.innerText)" (mouseleave)="cardService.setStressValue('physical', $any($event).target.innerText)" *mcRerender="stress.universal" >{{stress.physical|| "&nbsp; &nbsp;"}}</span>
            </div>
            <div *ngIf="stress.mental || showAllStress">
              &nbsp;
              <span *ngIf="stress.mental || showAllStress">М:&nbsp;</span>
              <span class="red" contenteditable="true" (blur)="cardService.setStressValue('mental', $any($event).target.innerText)" (mouseleave)="cardService.setStressValue('mental', $any($event).target.innerText)" *mcRerender="stress.universal">{{stress.mental || "&nbsp; &nbsp;"}}</span>
            </div>
          </div>
          <div class="PP">
            <span>ПС:</span>&nbsp;<span class="red" contenteditable="true" (blur)="cardService.setPP($any($event).target.innerText)" *mcRerender="PP">{{PP}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
