<div id="card-render">
  <div class="border-wrapper">
    <div class="body" appDrag (files)="filesDropped($event)">
      <div class="info-row">
        <label class="title">Skills</label>
        <label class="value">{{skillString()}}</label>
      </div>
      <div class="info-row">
        <label class="title">XP</label>
        <label class="value">{{xp()}}</label>
        <label class="title">L.</label>
        <label class="value">{{languages()}}</label>
      </div>
      <hr />
      @for( ability of abilities(); track $index ) {
        <div class="ability">
          <label class="title" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{ability.title}}: </label><label class="body" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{ability.body}}</label>
        </div>
      }
      <hr />
      @for( action of cardService.actions(); track $index ) {
        <div class="ability">
          <label class="title" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{action.name}}: </label><label class="body" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{action.description}}</label>
        </div>
      }
    </div>
  </div>
</div>
