<div id="card-render-back">
  <div class="border-wrapper">
    <div class="body" appDrag (files)="filesDropped($event)" contenteditable="true">
      <div class="info-row">
        <label class="name">{{this.cardService.character().name}}</label>
      </div>
      @if(skillString().length > 0) {
        <div class="info-row">
          <label class="title">Skills</label>
          <label class="value">{{skillString()}}</label>
        </div>
      }
      @if(immunities().length > 0) {
        <div class="info-row">
          <label class="title">Immunities</label>
          <label class="value">{{immunities()}}</label>
        </div>
      }
      @if(resistances().length > 0) {
        <div class="info-row">
          <label class="title">Resistances</label>
          <label class="value">{{resistances()}}</label>
        </div>
      }
      @if(vulnerabilities().length > 0) {
        <div class="info-row">
          <label class="title">Vulnerabilities</label>
          <label class="value">{{vulnerabilities()}}</label>
        </div>
      }
      <div class="info-row">
        <label class="title">XP</label>
        <label class="value">{{xp()}}</label>
        <label class="title">L.</label>
        <label class="value">{{languages()}}</label>
      </div>
      <hr />
      @for( ability of abilities(); track $index ) {
        <div class="ability">
          <label class="title" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{ability.title}}: </label><label class="body" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{ability.body?.replaceAll('\n\n', '\n')}}</label>
        </div>
      }
      <hr />
      @for( action of cardService.actions(); track $index ) {
        <div class="ability">
          <label class="title" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{action.name}}: </label><label class="body" [style.fontSize]="`${cardService.abilityFontSize()}px`">{{action.description.replaceAll('\n\n', '\n')}}</label>
        </div>
      }
    </div>
  </div>
</div>
