<div id="card-render">
  <div class="border-wrapper">
    <div class="body" appDrag (files)="filesDropped($event)">
      <div class="portrait" [style.background]="'url('.concat(cardService.character().imageUri ?? '').concat(')')">
        <div class="cr">
          <label>{{cardService.character().challengeRating}}</label>
        </div>
        <div class="labels">
          <label class="name">{{cardService.character().name}}</label>
          <label class="subtitle">{{subtitle()}}</label>
        </div>
      </div>
      <div class="main-info">
        <div class="score-info">
          <label class="score-name">Armor Class</label>
          <label class="score-value">{{cardService.character().armorClass}}</label>
        </div>
        <div class="score-info">
          <label class="score-name">HP</label>
          <label class="score-value">{{cardService.getTracker("HP")}}</label>
        </div>
        <div class="score-info">
          <label class="score-name">Speed</label>
          <label class="score-value">{{cardService.character().speed}}</label>
        </div>
      </div>
      <hr />
      <div class="ability-score-wrapper">
        @for( scoreName of AbilityScoreAbr; track scoreName) {
          <div class="score-info">
            <label class="score-name">{{scoreName}}</label>
            <label class="score-value">{{cardService.getAbilityScore(scoreName)}} ({{cardService.getAbilityBonusByScoreString(scoreName)}})</label>
          </div>
        }
      </div>
      <hr />
    </div>
  </div>
</div>
